/*import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{align-content: center;}

:root{
    /*colors*/
    --white: #fff;
    --dark:#252525;
    --primary:#3b141c;
    --secondary:#f3961c;
    --light-pink:#faf4f5;
    --medium-gray:#ccc;

    /*font sizes*/
    --fs-s:0.9rem;
    --fs-n:1rem;
    --fs-m:1.125rem;
    --fs-l:1.5rem;
    --fs-xl:2rem;
    --fs-xxl:2.3rem;

    /*font-weight*/
    --fw-normal:400;
    --fw-medium:500;
    --fw-bold:600;
    --fw-bolder:700;

    /*border radius*/
    --br-s:8px;
    --br-m:30px;
    --br-circle:50%;

    /*site max width*/
    --site-max-width:1300px


}

/*styling for whole site*/

ul{
    list-style: none;
}

a{text-decoration: none; }

button{
    cursor: pointer;
    border: none;
    background: none;
}

img{
    width: 100%;
}

/*navbar styling*/

header{
    background: var(--primary);
    position: fixed;
    z-index: 5;
    width: 100%;
}

header .navbar{
    display: flex;
    padding:20px;

    align-items:center;
    justify-content: space-between;

}

.section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}



.navbar .nav-logo .logo-text{
    color:var(--white);
    font-size: var(f);
}



.navbar .nav-menu{
    display: flex;
    gap: 10px;
}


.navbar .nav-menu .nav-link {
    padding: 10px 18px;
   
    font-size: var(--fs-m);
    color: var(--white);
    border-radius: var(--br-m);
    transition: 0.3s ease;
    



}


.navbar .nav-menu .nav-link:hover{
    color: var(--primary);
    background: var(--secondary);


}

.navbar .nav-button:where(#menu-close-button,#menu-open-button){
    display:none
}





/*hero section styling*/

.hero-section{
    min-height: 100vh;
    background: var(--primary);

}

.hero-section .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white);
    justify-content: space-between;

}


.hero-section .hero-details .title{
    font-size: var(--fs-xxl);
    color: var(--secondary);
    font-family: "miniver", serif;

}

.hero-section .hero-details .subtitle{
    margin-top: 8px;
    max-width:70%;
    font-size: var(--fs-xl);
    font-weight: var(--fw-semi-bold);

}
.hero-section .hero-details .description{
    font-size: var(--fs-s);
    margin: 24px 0 40px;
    max-width: 60%;

}

.hero-section.image-wrapper{
    max-width: 70%;
    margin-right: 30px;

}


.hero-section .hero-details .button{
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--primary);
    border-radius: var(--br-m);
    background: var(--secondary);
    font-weight: var(--fw-medium);
    

    
}


.hero-section .hero-details .buttons{
    display: flex;
    gap: 50px;
}

.hero-section .hero-details .button:hover,
.hero-section .hero-details .contact-us{
    color: var(--white);
    border-color: var(--white);
    background: transparent;
}


.hero-section .hero-details .contact-us:hover{
    color: var(--primary);
    border-color: var(--white);
    background: var(--secondary);
}


@media screen and (max-width:900px){
    :root{
         /*font sizes*/
    
    --fs-m:1rem;
    --fs-l:1.3rem;
    --fs-xl:1.5rem;
    --fs-xxl:1.8rem;
    }
    .navbar .nav-menu{
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: var(--white);

    }
   .link{
        color:var(--dark);
        display: block;
        margin-top: 1;
        font-size: var(--fs-l);
        margin-top: 17px;
        background: var(--dark);
    

    }
    .navbar :where(#menu-close-button,#menu-open-button){
        font-size: var(--fs-l);
        display: block;


    }
    .navbar #menu-close-button{
        position: absolute;
        right: 30px;
        top: 30px;

    }

    .navbar #menu-open-button{
        color: var(--white);
    }

}